@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: var(--primary-grey);
}

:root {
    /* Colors */
    --white: #FFFFFF;
    --primary-grey: #707070;
    --red: #FF0000;

    /* Fonts */

}

/* Resetting standard margins on text */

p {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

/* Header Area */

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 88px;
    width: 100%;
    background-color: var(--white);
    border-bottom: 2px solid var(--primary-grey);
}

.logo {
    margin: 0;
    height: 45px;
    width: 60px;
}

.khazer {
    height: 50px;
    width: 60px;
    margin: 1.2rem;
}

/* Menu or Sidenav */

.span {
    position: absolute;
    right: 0;
    padding: 1.6rem;
    font-size: 24px;
    color: var(--primary-grey);
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    text-align:left;
    background-color: var(--white);
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--primary-grey);
    display: block;
    transition: 0.3s;
  
  }

  .sidenav .menu {
    padding-top: 88px;
  }

  .sidenav .menu .item {
      display: flex;
      justify-content: space-between;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
      border-top: 2px solid var(--primary-grey);
  }

  .sidenav .menu .item img {
      height: 16px;
      width: 16px;
      padding: 8px 32px 8px 8px;
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    right: 0;
    font-size: 24px;
    padding: 1.6rem;
    color: var(--primary-grey);
  }

/* News or Slideshow section */

.news {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top:130px;
  }

.ttl {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 0.8rem;
    font-weight: 700;
}

.ttl h2 {
    justify-content: center;
    
}

.ttl img {
    height: 16px;
    width: 16px;
    margin-top: 0.6rem;
    padding: 0px 8px 0px 8px;
}

.fll {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0.8rem 2.4rem 0.8rem 2.4rem;
    font-weight: 500;
}

  /* The dots */

  .order {
    height: 2rem;
  }

  .dot {
      height: 15px;
      width: 15px;
      margin: 0;
      padding: 0;
      background-color: var(--white);
      border: 2px solid var(--primary-grey);
      border-radius: 100%;
      display: inline-block;
      transition: background-color 0.6s ease;
  }

  .active {
      background-color: var(--primary-grey);
  }
    
  
  /* Fading animation */
  .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 2.5s;
      animation-name: fade;
      animation-duration: 2.5s;
  }
      
  @-webkit-keyframes fade {
      from {opacity: 0.4} 
      to {opacity: 1}
  }

  @keyframes fade {
      from {opacity: 0.4} 
      to {opacity: 1}
  }


  /* Models Area */

.models {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.models h1 {
    font-size: 40px;
    margin-top: 5.5rem;
    margin-bottom: 3.5rem;
}

.models a {
    margin-top: 5px;
}

/* Footer Area */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    border-top: 2px solid var(--primary-grey);
    
}

.socials {
    height: 35px;
}

.socials a{
    height: 35px;
    width: 35px;
    text-decoration: none;
}

.copyright {
    margin-top: 0.4rem;
    font-size: 12px;
}
